<div class="row">
    <div class="card">
        <div class="card-body">
            <h1>CREAR BARBERO</h1>
            <div class="row">
                <form [formGroup]="form" (ngSubmit)="crearBarbero()">
                    <div class="form-floating mb-3">
                        <input id="nombres" formControlName="nombres" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Nombres y Apellidos</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" formControlName="fechaContrato" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label id="fechaContrato" for="floatingInput">Fecha Contratación</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" formControlName="celular" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label id="celular" for="floatingInput">Celular</label>
                    </div>

                    <div class="form-floating">
                        <select class="form-select" id="estado" id="floatingSelect" aria-label="Floating label select example">
                          <option value="1">Activo</option>
                          <option value="0">Inactivo</option>
                        </select>
                        <label for="floatingSelect">Estado del barbero</label>
                    </div>

                    <div class="d-grid gap-2">
                        <button [disabled]="form.invalid" class="btn btn-success" type="submit">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>