<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h1>LISTA DE BARBEROS</h1>
                <table class="table table-striped table-bordered">
                    <thead>
                        <th scope="col">Nombres</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Fecha Contratación</th>
                        <th scope="col">Estado</th>
                        <th colspan="2">Operaciones</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Prueba</td>
                            <td>123123123</td>
                            <td>25/05/2022</td>
                            <td colspan="2">Activo</td>
                            <td>
                                <i class="fas fa-edit text-warning">&nbsp; Editar</i> &nbsp;|&nbsp;
                                <i class="fas fa-trash-alt text-danger">&nbsp; Eliminar</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>